body {
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;

  position: relative;
}
.nav {
  width: 95%;
  min-width: 50%;
  height: 5%;
  margin-top: 2%;
  margin-left: 2%;
  background-color: rgb(167, 222, 204);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 40px;
  border-radius: 20px;
  font-size: 20px;
  border: 5px solid rgb(196, 231, 196);
}
.nav__intro {
  position: relative;
}
.nav__intro__img {
  position: absolute;
  top: 5px;
  left: 10px;
  color: gray;
}

.nav__list {
  background-color: rgb(173, 224, 207);
  border-radius: 15px;
  padding: 5px 60px;
  font-size: 25px;
  font-weight: 900;
  padding-right: 10px;
  border-color: rgba(100, 223, 194, 0.1);
  transition: all 0.2s ease-in-out;
  color: rgba(0, 0, 0, 0.8);
}

.nav__list:hover {
  background-color: rgb(159, 229, 203);
  cursor: pointer;
  text-underline-offset: 1px;
  border-bottom: 2px solid rgb(29, 186, 181);
}
